@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Interní informační systém - IIS</h1>
    <p>Vývoj informačních systémů, Vojtěch Ferák - FER0101</p>
</div>