@using DomainLayer.Models
@{
    ViewBag.Title = "Home Page";

    Clients client = ViewBag.Client;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>@client.Name</h2>
            </div>
        </div>
    </div>
</div>